.superbugs-map {

  &__legend {
    position: absolute;
    bottom: 0;
    left: 0;

    ul {
      list-style: none;
      margin-left: 0;
      padding-left: 0;

      li {
        display: inline;
        padding: 3px;
      }
    }
  }

  &__svg {
    width: 100%;
    height: 800px;

    path {
      fill: grey;
      opacity: .8;
      stroke-width: 1;
      stroke: #fff;

      &.-hilighted {
        opacity: 1;
        stroke: red;
      }
    }
  }

  &__infobox {
    position: absolute;
    top: 0;
    left: 0;
  }

  &__states-selector {
    margin-top: 25px;
  }

  &__layer-switcher {
    position: absolute;
    top: 0;
    right: 0;
  }

}
